body {
  text-align: center;
  background-color: #000000; /* Dark blue */
  
}

h1 {
  font-size: 5rem;
  color: #464545; 
  font-family: 'Forelle-font'; 
  
}



.drum {
  outline: none;
  border: 8px solid #c2baba; 
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff; 
  text-shadow: 2px 2px 4px #000000; 
  border-radius: 50%;
  display: inline-block;
  width: 150px;
  height: 150px;
  line-height: 150px; 
  margin: 10px;
  background-color: #ffffff; 
  cursor: pointer;
  transition: all 0.3s ease;
}



.pressed {
  transform: scale(0.95); /* Slightly shrink the button */
  box-shadow: 0 0 10px #ffffff; /* White shadow */
}



.w {
  background-image: url(./images/crash.png);
}

.a {
  background-image: url(./images/kick.png);
}

.s {
  background-image: url(./images/snare.png);
}

.d {
  background-image: url(./images/tom1.png);
}

.j {
  background-image: url(./images/tom2.png);
}

.k {
  background-image: url(./images/tom3.png);
}

.l {
  background-image: url(./images/tom4.png);
}

body {
  font-family: "Arial", sans-serif;
  color: #ffffff; 
  text-align: center; 
  animation: changeBackground 20s linear infinite; 
}


@font-face {
  font-family: 'Forelle-font';
  src: url('./Forelle.ttf') format('truetype');
  
}
